@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {
    --orange: #F26723;
    --orange-dark: #cb5418;
    --yellow: #F8D730;
    --offwhite-bg: #fffff0; 
    --min-wdith: 370px;
    --max-width: 800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: darkslategray;
}

body {
    padding: 0.5em;
}

#page-container {
    background-color: var(--offwhite-bg);
    max-width: var(--max-width);
    min-width: var(--min-wdith);
    margin: 1em auto;
    padding: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Set box shadow */
    border-radius: 0.5em;
    /* Temp code */
    /* border: 1px solid red; */
}

#header{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: space-between;
}

#logo img {
    width: 5em;
}

#docmeta{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 500;
}

.docmeta-data {
    font-weight: 300;
    margin-left: 0.3em;
}

.sec {
    margin-top: 2em;
    margin-bottom: 2em;
}

.sec-title {
    font-size: 1.728rem;
    color: var(--orange);
    margin-bottom: 0.3em;
}

.sec-subh1 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

.sec-body {
    margin-bottom: 0.9em;
}

.sec-body ul li{
    list-style-position: inside;
    line-height: 1.5rem;
    margin-left: 1.3em;
}

li::marker {
    color: var(--orange-dark);
}

.note {
    font-weight: 100;
    font-style: italic;
    font-size: 0.833rem;
}

i {
    color: var(--yellow);
}

a {
    transition: all 0.3s;
    outline: none;
}

a:hover, a:active, a:focus {
    color: var(--orange);
}

#footer-hr {
    margin-top: 8em;
}

.wa-green {
    color: #25D366;
    /* transition: all 0.3s; */
}
.wa-green:hover, .wa-green:active, .wa-green:focus {
    outline: noone;
    position: fixed;
}